$colors: (
    primary: rgb(27, 27, 47),
    primary-dark: rgb(18, 18, 32),
    accent: #BC1B8B,
    accent-dark: darken(#BC1B8B, 15%),
);

@function color($color){
    @return map-get($colors, $color);
};

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body, .wrapper {
    width: 100%; height: 100%;
    
}

body {
    background: linear-gradient(120deg, color(primary), color(primary-dark));
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 70%;
}

@keyframes play120 {
    0% {
      background-position: 0px 0px;
    }
    100% {
      background-position: -43440px 0px;
    }
  }
  .heart-svg {
    animation-duration: 3s;
    animation-timing-function: steps(120);
    animation-iteration-count: infinite;
    animation-delay: 3s;
    width: 362px;
    height: 400px;
    background-repeat: no-repeat;
}
.heart-svg.play {
   animation-name: play120;
}


.heart-svg, h1, h2 {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

h1, h2 {
    color:  color(accent);
    text-transform: uppercase;
    text-align: center;
    font-size: 3.4rem;
    line-height: 120%;
}

h1 {
    opacity: 0;
    font-size: 7rem;
    animation: opacity2 3s 1.5s infinite;
    -webkit-animation: opacity2 3s 1.5s infinite;
}

h2 {
    max-width: 180px;
    opacity: 0;
    span{
        font-size: 5rem;
    }
}

h2 {
    animation-name: opacity2;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}


@keyframes opacity1{
    0% {
        opacity: 1;
    }

    20% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes opacity2{
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .btn {
        color: color(primary-dark);
        font-size: 0.8rem;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        background-color:rgba(255, 255, 255, 0.534);
        width: fit-content;
        padding: 1em;
        border-radius: 10px;
        border: none;
    }

    h3 {
        color: color(accent);
        font-size: 4rem;
        animation: shadow 3s ease infinite alternate;
    }

}

@keyframes shadow {
    0% {
        text-shadow:    8px 8px 32px color(accent-dark),
        -8px -8px 32px color(accent-dark)
    }

    10% {
        text-shadow: 2px 2px 8px color(accent-dark),
        -2px -2px 8px color(accent-dark);
    }

    20% {
        text-shadow: 8px 8px 32px color(accent-dark),
        -8px -8px 32px color(accent-dark);
    }

    80% {
        text-shadow: 2px 2px 8px color(accent-dark),
        -2px -2px 8px color(accent-dark);
    }

    90% {
        text-shadow:    8px 8px 32px color(accent-dark),
        -8px -8px 32px color(accent-dark)
    }


}

  
  